.features {
  padding-top: -198px;
  padding-bottom: 100px;
  background-image: url(../images/features/Bg.png);
  background-size: cover;

  &-top {
    padding-left: 227px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
  }

  &-bottom {
    margin-left: 227px;
    margin-top: 69px;

    &-card {
      display: flex;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;

      &__img {
        align-self: center;
        width: 64px;
        height: 64px;
      }

      &__description {
        padding-left: 32px;
        line-height: 150%;
        color: #fff;
        mix-blend-mode: normal;
        margin-bottom: 64px;
      }
    }
  }
}

@media (max-width: 1250px) {

  .features {
    background: rgba(86, 204, 242, 1);
    display: flex;
    flex-direction: column;
    align-items: center;

    &-top {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding-left: 0;
    }

    &-bottom {
      margin-left: 0;
    }
  }
}

@media (max-width: 1100px) {

  .features {

    &-top {
      margin-top: -250px;
    }
  }
}
