.message-and-contacts {
  width: calc(100% - 454px);
  margin: 96px auto 86px;
  display: flex;
  justify-content: space-between;

  .message {
    width: 656px;

    .form {
      margin-top: 106px;
      display: flex;
      flex-direction: column;

      &__item {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032;
        margin-bottom: 48px;
      }

      &__button {
        margin-top: 105px;
        width: 226px;
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  &__about {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
  }

  &__call-us,
  &__visit-us {
    margin-top: 43px;
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #334563;
  }

  &__phone,
  &__address {
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
  }

  .community {
    margin-top: 53px;
    display: flex;
    width: 192px;
    justify-content: space-between;
  }
}

.footer {

  &__nav {
    margin-top: 85px;
    margin-left: 618px;
    height: max-content;
  }

}

@media (max-width: 1100px) {

  .message-and-contacts {
    width: calc(100% - 150px);

    .message {
      width: 400px;
    }
  }

  .footer {
    &__nav {
      margin-left: 0;
    }
  }
}

@media (max-width: 700px) {
  .message-and-contacts {
    width: calc(100% - 50px);

    .message {
      width: 300px;
    }
  }

  .footer {
    &__nav {
      margin-top: -125px;
      margin-left: -100px;
    }
  }
}
