 /* stylelint-disable */
 .nav {
   display: flex;

   &__logo {
     width: 53px;
     height: 32px;
     margin-top: 48px;
     margin-left: 227px;
     font-size: 32px;
     line-height: 100%;
   }

   &__list {
     margin-top: 51px;
     width: 559px;
     display: flex;
     justify-content: space-between;
     margin-left: 196px;

     &_item {
       line-height: 150%;

       &--black>* {
         color: #253757;
       }
     }
   }

   &__hire-us {
     position: relative;
     margin-top: 51px;
     margin-left: 135px;
     line-height: 150%;

     &::after {
       content: "";
       position: absolute;
       width: 64px;
       height: 4px;
       left: -5px;
       top: 35px;
       background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
           rgba(255, 255, 255, 0) 100%),
         #fcc304;
       border-radius: 2px;
     }
   }
 }

 @media (min-width: 1000px) and (max-width: 1350px) {
   .nav {

     &__logo {
       margin-left: 227px;
     }

     &__list {
       margin-left: 96px;
     }

     &__hire-us {
       margin-left: 75px;
     }
   }
 }

 @media (min-width: 1000px) and (max-width: 1100px) {
   .nav {

     &__logo {
       margin-left: 150px;
     }

     &__list {
       margin-left: 76px;
     }

     &__hire-us {
       margin-left: 40px;
     }
   }
 }

 @media (max-width: 999px) {
   .nav {
     width: 100px;

     &__logo {
       margin-left: 100px;
     }

     &__list {
       margin-right: 30px;
       margin-left: 100px;

       &_item {
        margin-left: 20px;
      }
     }

     &__hire-us {
         margin-left: calc(100% - 90px);
     }
   }
 }

 @media (max-width: 760px) {
   .nav {
     width: 100px;
     flex-flow: column wrap;
     height: 200px;

     &__logo {
       margin-left: 100px;
     }

     &__list {
       margin-left: 100px;
       margin-right: 20px;

       &_item {
         margin-left: 0;
       }
     }

     &__hire-us {
        margin-left: calc(100% - 383px);
     }
   }
 }

 @media (max-width: 680px) {
  .nav {


    &__logo {
      margin-left: 100px;
    }

    &__list {
      display: flex;
      flex-flow: column nowrap;
      margin-left: 150px;

      &_item {
        margin-bottom: 10px;
        margin-left: 0;
      }
    }

    &__hire-us {
       margin-left: calc(100% - 570px);
    }
  }
}
 /* stylelint-enable */
