 /* stylelint-disable */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.button {
  background: #fff;
  border-radius: 64px;
  padding: 16px 65px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #253757;
}
