.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 136px;
  margin-top: -150px;

  &__about {
    width: 742px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757;
  }
}

@media (max-width: 800px) {
  .welcome {
    margin-top: -170px;
    margin-bottom: 40px;

    &__about {
      width: 300px;
      font-size: 18px;
      line-height: 120%;
    }
  }
}

@media (max-width: 400px) {
  .welcome {
    margin-top: -170px;
    margin-bottom: 40px;

    &__about {
      width: 200px;
      font-size: 16px;
      line-height: 1;
    }
  }
}
