/* stylelint-disable */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
button,
input {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #fff; }

.button {
  background: #fff;
  border-radius: 64px;
  padding: 16px 65px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #253757; }
  .button--blue {
    background: #2f80ed;
    color: white; }

input {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  color: #2f80ed; }

a:hover,
button:hover,
input:hover {
  cursor: pointer; }

.active:hover {
  background: #e1e1e1;
  color: #2f80ed; }

.active--2:hover {
  background: #e1e1e1;
  color: #2f80ed; }

/* stylelint-disable */
.header-top {
  background: linear-gradient(115deg, #56ccf2 71%, white 71%);
  padding-bottom: 400px; }
  .header-top__h1, .header-top__quote, .header-top__button {
    margin-left: 325px; }
  .header-top__h1 {
    margin-top: 160px;
    font-weight: 900;
    font-size: 64px;
    line-height: 150%; }
  .header-top__quote {
    font-size: 24px;
    line-height: 150%;
    margin-top: 22px; }
  .header-top__button {
    display: inline-block;
    margin-top: 42px; }

.header-bottom {
  position: relative;
  top: -320px; }
  .header-bottom__slider {
    position: relative;
    width: calc(100% - 454px);
    margin: 0 auto;
    height: 640px;
    background-size: cover;
    background-image: url(../images/slider/slide-img-1.jpg); }
    .header-bottom__slider .switch {
      position: absolute;
      width: 162px;
      height: 64px;
      left: -81px;
      top: 286px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-radius: 50px; }
      .header-bottom__slider .switch__arrow--left, .header-bottom__slider .switch__arrow--right {
        width: 24px;
        height: 12px;
        position: absolute; }
      .header-bottom__slider .switch__arrow--left {
        top: 20px;
        left: 33px; }
      .header-bottom__slider .switch__arrow--right {
        top: 20px;
        right: 33px; }
    .header-bottom__slider .intro {
      position: absolute;
      top: 477px;
      left: 98px;
      font-weight: 800;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 2px;
      color: #56ccf2; }
    .header-bottom__slider .intro-quote {
      position: absolute;
      top: 500px;
      left: 98px;
      font-weight: 900;
      font-size: 20px;
      line-height: 140%;
      color: #fff; }
  .header-bottom__follow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    left: calc(100% - 400px);
    top: 340px; }
    .header-bottom__follow > * {
      font-weight: 800;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #253757;
      margin-right: 85px; }

@media (min-width: 1210px) and (max-width: 1370px) {
  .header-top__h1 {
    margin-left: 210px; }
  .header-top__quote {
    margin-left: 210px; } }

@media (min-width: 1000px) and (max-width: 1210px) {
  .header-top {
    background: #56ccf2; }
    .header-top__h1 {
      margin-left: 160px; }
    .header-top__quote {
      margin-left: 160px; }
  .header-bottom__slider {
    width: calc(100% - 350px); } }

@media (max-width: 999px) {
  .header-top {
    background: #56ccf2; }
    .header-top__h1, .header-top__quote, .header-top__button {
      margin-left: 100px; }
    .header-top__h1 {
      margin-top: 60px;
      font-size: 35px; }
    .header-top__quote {
      font-size: 20px; }
  .header-bottom__slider {
    width: calc(100% - 210px); }
    .header-bottom__slider .intro,
    .header-bottom__slider .intro-quote {
      left: 10px; }
  .header-bottom__follow {
    left: calc(100% - 340px); } }

/* stylelint-enable */
/* stylelint-disable */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 227px;
  padding-top: 51px; }
  .nav__list--footer {
    margin-left: 350px;
    padding-top: 0; }
  .nav__list .logo {
    width: 53px;
    height: 32px;
    line-height: 100%;
    margin-right: 143px;
    position: relative;
    top: -3px; }
  .nav__list_item {
    line-height: 150%;
    margin-right: 63px; }
    .nav__list_item--black > * {
      color: #253757; }
    .nav__list_item .hire-us {
      margin-left: 72px;
      position: relative; }
      .nav__list_item .hire-us::after {
        content: "";
        position: absolute;
        width: 64px;
        height: 4px;
        left: -5px;
        top: 35px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
        border-radius: 2px; }

@media (max-width: 1400px) {
  .nav__list {
    margin-left: 150px; }
    .nav__list .logo {
      margin-right: 70px; }
    .nav__list_item {
      margin-right: 50px; }
      .nav__list_item .hire-us {
        margin-left: 0; } }

@media (max-width: 999px) {
  .nav__list {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .nav__list--footer {
      margin-left: 150px; }
    .nav__list .logo {
      margin-right: 0; }
    .nav__list_item {
      margin-bottom: 30px; } }

/* stylelint-enable */
.heading {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56ccf2;
  background: url(../images/rectangular.svg) no-repeat;
  padding-left: 37px;
  height: 21px;
  line-height: 21px;
  margin-bottom: 19px; }
  .heading--white {
    color: #fff;
    background: url(../images/rectangular-white.svg) no-repeat;
    background-position-y: bottom; }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 136px; }
  .welcome__heading {
    width: 705px; }
  .welcome__about {
    width: 742px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #253757; }

@media (max-width: 800px) {
  .welcome {
    margin-top: -250px;
    margin-bottom: 40px; }
    .welcome__heading {
      width: 305px; }
    .welcome__about {
      width: 342px; } }

/* stylelint-disable */
.what-we-do {
  margin-top: 136px; }
  .what-we-do__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757; }
  .what-we-do__cards {
    margin-top: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .what-we-do .card:first-child {
    margin-left: 227px; }
  .what-we-do .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 264px;
    text-align: left;
    margin-left: 129px; }
    .what-we-do .card__img {
      width: 160px;
      height: 160px;
      border-radius: 50%; }
    .what-we-do .card__about {
      margin-top: 64px;
      font-weight: 900;
      font-size: 20px;
      line-height: 140%;
      color: #253757; }
    .what-we-do .card__description {
      margin-top: 32px;
      font-weight: normal;
      line-height: 150%;
      color: #334563;
      mix-blend-mode: normal; }

@media (max-width: 1400px) {
  .what-we-do__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 999px) {
  .what-we-do {
    margin-top: 70px; }
    .what-we-do__title {
      font-size: 30px; }
    .what-we-do__cards {
      margin-top: 70px;
      margin-left: 150px; }
    .what-we-do .card {
      margin-left: 50px; }
      .what-we-do .card:first-child {
        margin-left: 0; }
      .what-we-do .card__about {
        margin-top: 30px; }
      .what-we-do .card__description {
        margin-top: 20px; } }

@media (max-width: 800px) {
  .what-we-do {
    margin-top: 0; }
    .what-we-do__cards {
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-left: 0; }
    .what-we-do .card:first-child {
      margin-left: 0; }
    .what-we-do .card {
      margin-top: 10px;
      margin-left: 0; }
      .what-we-do .card__about {
        margin-top: 20px; }
      .what-we-do .card__description {
        margin-top: 15px; } }

.process {
  position: relative;
  margin-top: 162px;
  padding-bottom: 291px;
  background: #fcfcfd; }
  .process .main-card {
    padding-top: 160px;
    margin-left: 227px;
    text-align: left; }
    .process .main-card__about {
      margin-top: 19px;
      font-weight: 900;
      font-size: 32px;
      line-height: 140%;
      color: #253757; }
    .process .main-card__description {
      margin-top: 64px;
      font-weight: normal;
      line-height: 150%;
      color: #334563;
      mix-blend-mode: normal; }
  .process .additional-cards-1col {
    position: absolute;
    left: 770px;
    top: 336px;
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: repeat(2, 256px);
    grid-row-gap: 128px; }
    .process .additional-cards-1col--2col {
      position: absolute;
      left: 1074px;
      top: 225px;
      display: grid;
      grid-template-columns: 240px;
      grid-template-rows: repeat(2, 256px);
      grid-row-gap: 128px; }

/* stylelint-disable */
.additional-card {
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02); }
  .additional-card__circle {
    margin: 48px auto 0;
    width: 48px;
    height: 48px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#56ccf2), to(#56ccf2)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
    opacity: 0.1;
    border-radius: 50%; }
  .additional-card__figure {
    color: #56ccf2;
    margin: -28px auto 0;
    width: 24px;
    height: 60px;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .additional-card__about {
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #253757;
    mix-blend-mode: normal; }
  .additional-card__2__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
  .additional-card__2__figure {
    color: #fcc304; }
  .additional-card__3__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left bottom, left top, from(#03d542), to(#03d542)), #c4c4c4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #03d542, #03d542), #c4c4c4; }
  .additional-card__3__figure {
    color: #03d542; }
  .additional-card__4__circle {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .additional-card__4__figure {
    color: #f25656; }

@media (max-width: 1330px) {
  .process .additional-cards-1col {
    left: 605px; }
    .process .additional-cards-1col--2col {
      left: 860px; } }

@media (max-width: 1100px) {
  .process .additional-cards-1col {
    left: 227px;
    top: 70px;
    position: relative; }
    .process .additional-cards-1col--2col {
      position: absolute;
      left: 500px;
      top: 650px; } }

@media (max-width: 740px) {
  .process .main-card {
    padding-top: 40px;
    margin-left: 100px; }
  .process .additional-cards-1col {
    left: calc(100% - 400px);
    top: 30px;
    grid-row-gap: 20px; }
    .process .additional-cards-1col--2col {
      left: calc(100% - 400px);
      top: 50px;
      position: relative;
      grid-row-gap: 20px; } }

.features {
  margin-top: -198px;
  height: 1065px;
  background-image: url(../images/features/Bg.png);
  background-size: cover; }
  .features-top {
    margin-left: 227px; }
    .features-top__heading {
      padding-top: 300px; }
    .features-top__about {
      margin-top: 19px;
      font-weight: 900;
      font-size: 32px;
      line-height: 140%;
      color: #253757; }
  .features-bottom {
    margin-left: 227px;
    margin-top: 69px; }
    .features-bottom-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .features-bottom-card__img {
        -ms-flex-item-align: center;
            align-self: center;
        width: 64px;
        height: 64px; }
      .features-bottom-card__description {
        padding-left: 32px;
        line-height: 150%;
        color: #fff;
        mix-blend-mode: normal;
        margin-bottom: 64px; }

@media (max-width: 1250px) {
  .features {
    background: #56ccf2; } }

@media (max-width: 640px) {
  .features {
    margin-left: -100px;
    height: 1120px; } }

.testimonials {
  padding-top: 100px;
  background: #fcfcfd; }
  .testimonials-top {
    margin-top: 166px;
    margin-left: 227px; }
    .testimonials-top__about {
      font-weight: 900;
      font-size: 32px;
      line-height: 140%;
      color: #253757; }
  .testimonials-bottom {
    margin-top: 86px;
    margin-left: 251px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .testimonials-bottom-card {
      margin-right: 78px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 314px;
      background: #fefefe;
      -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
              box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
      /* stylelint-disable */ }
      .testimonials-bottom-card__img .img-back {
        position: absolute;
        left: 94px;
        top: 81px;
        width: 162px;
        height: 64px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
        border-radius: 500px;
        -webkit-transform: rotate(-65deg);
                transform: rotate(-65deg); }
        .testimonials-bottom-card__img .img-back--yellow {
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
        .testimonials-bottom-card__img .img-back--red {
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
      .testimonials-bottom-card__img .img {
        position: absolute;
        width: 124px;
        height: 124px;
        left: 111px;
        top: 100px;
        border-radius: 500px;
        -o-object-fit: cover;
           object-fit: cover;
        -webkit-transform: rotate(-18deg);
                transform: rotate(-18deg);
        -webkit-clip-path: ellipse(28% 65% at 53% 49%);
                clip-path: ellipse(28% 65% at 53% 49%); }
      .testimonials-bottom-card__description {
        margin-top: 240px;
        width: 250px;
        height: 64px;
        font-style: italic;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #253757;
        mix-blend-mode: normal; }
      .testimonials-bottom-card__line {
        margin-top: 31px;
        width: 64px;
        height: 2px;
        background: #56ccf2;
        border-radius: 1px; }
        .testimonials-bottom-card__line--yellow {
          background: #fcc304; }
        .testimonials-bottom-card__line--red {
          background: #f25656; }
      .testimonials-bottom-card__name {
        margin-top: 31px;
        font-weight: bold;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #152032; }
      .testimonials-bottom-card__position {
        font-weight: 800;
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #56ccf2;
        margin-bottom: 58px; }
        .testimonials-bottom-card__position--yellow {
          color: #fcc304; }
        .testimonials-bottom-card__position--red {
          color: #f25656; }

@media (max-width: 1200px) {
  .testimonials-bottom {
    margin-left: 100px; }
    .testimonials-bottom-card {
      margin-right: 20px; } }

@media (max-width: 999px) {
  .testimonials-bottom {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 227px; }
    .testimonials-bottom-card {
      margin-bottom: 10px;
      margin-right: 0; } }

@media (max-width: 600px) {
  .testimonials-top {
    margin-top: -40px;
    margin-left: 127px; }
  .testimonials-bottom {
    margin-left: 0;
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.vpr {
  background-image: url(../images/bg-elipses.svg);
  height: 608px; }
  .vpr__title {
    padding-top: 160px;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #253757; }
  .vpr__about {
    width: 754px;
    margin: 57px auto 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #334563; }
  .vpr__button {
    display: inline-block;
    margin: 55px calc(50% - 90px) 0 calc(50% - 90px); }

@media (max-width: 800px) {
  .vpr {
    height: 400px; }
    .vpr__title {
      padding-top: 50px;
      font-size: 38px; }
    .vpr__about {
      width: 450px;
      margin: 57px auto 0;
      font-weight: 600;
      font-size: 24px; } }

.message-and-contacts {
  width: calc(100% - 454px);
  margin: 96px auto 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .message-and-contacts .message {
    width: 656px; }
    .message-and-contacts .message .form {
      margin-top: 106px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .message-and-contacts .message .form__item {
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #152032;
        margin-bottom: 48px; }
      .message-and-contacts .message .form__button {
        margin-top: 105px;
        width: 226px; }
  .message-and-contacts .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .message-and-contacts .contacts__about {
      font-weight: 900;
      font-size: 32px;
      line-height: 140%;
      color: #253757; }
    .message-and-contacts .contacts__call-us, .message-and-contacts .contacts__visit-us {
      margin-top: 43px;
      font-weight: 800;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #334563; }
    .message-and-contacts .contacts__phone, .message-and-contacts .contacts__address {
      font-weight: 900;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #56ccf2; }
    .message-and-contacts .contacts .community {
      margin-top: 53px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 192px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 227px;
  margin-top: 136px;
  margin-bottom: 83px; }
  .footer-bottom__designer {
    line-height: 150%;
    color: #253757; }

@media (max-width: 1100px) {
  .message-and-contacts {
    width: calc(100% - 150px); }
    .message-and-contacts .message {
      width: 400px; }
    .message-and-contacts .contacts__about {
      font-size: 24px; }
    .message-and-contacts .contacts__phone, .message-and-contacts .contacts__address {
      font-size: 20px; }
    .message-and-contacts .contacts .community {
      margin-top: 53px;
      width: 192px; }
  .footer-bottom {
    margin-left: 80px;
    margin-top: 70px;
    margin-bottom: 70px; } }

@media (max-width: 900px) {
  .message-and-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .message-and-contacts .message {
      width: 300px; }
      .message-and-contacts .message .form {
        margin-top: 80px; }
        .message-and-contacts .message .form__button {
          margin-top: 0;
          width: 180px; }
    .message-and-contacts .contacts {
      margin-top: 70px; }
      .message-and-contacts .contacts__about {
        font-size: 24px; }
      .message-and-contacts .contacts__phone, .message-and-contacts .contacts__address {
        font-size: 20px; }
      .message-and-contacts .contacts .community {
        margin-top: 53px;
        width: 192px; } }

/*# sourceMappingURL=main.css.map */
